<div class="card-header border-0">
    <div class="card-title">
        <h3 class="page-heading fw-bolder">General Info</h3>
    </div>
    <div class="card-toolbar">
        <!--begin::Input-->
        <select [value]="'W'" class="form-select form-select-solid" name="task_status" ngbTooltip="Frequency scrapping">
            <option value="D">Daily</option>
            <option value="W">Weekly</option>
            <option value="M">Monthly</option>
        </select>
        <!--end::Input-->
    </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-5">
    <!-- begin::Row -->
    <div class="mb-8 d-flex align-items-center">
        <div class="me-2">
            
                <ng-container *ngIf="website.logo; else altlogo">
                    <img [src]="website.logo" alt="" style="width: 60px; height: 60px"
                class="object-fit-cover rounded-circle" /><br>
                </ng-container>
                <ng-template #altlogo>
                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3" data-action="view">
                        <div class="symbol-label fs-3 bg-light text-info">{{ website.title[0].toUpperCase() }} </div>
                    </div>
                </ng-template>
        </div>
        <div>
            <h5 class="card-title fw-bolder ">{{website.title}}</h5>
            <span class="fw-normal fs-6 mt-1">
                {{website.url}}
                <a [href]="website.url" target="_blank" rel="View">
                    <app-keenicon name="exit-right-corner" class="text-info"></app-keenicon>
                </a>
            </span>
        </div>
    </div>
    <!-- end::Row -->
    <!-- begin::Row -->
    <div class="row g-0">
        <h6 class="card-title fw-bolder ">Schemes reports</h6>
        <!-- begin::Col -->
        <div (click)="totals('Total')" role="button" class="col bg-info rounded-2 me-4 p-3 text-white">
            <app-keenicon name="technology-2" class="fs-3x text-white d-block my-2"></app-keenicon>
            <h5 class="text-white fs-2x fw-bolder">{{ website.totalArticles }}</h5>
            <span class="text-white fw-normal fs-6"> Total </span>
        </div>
        <!-- end::Col -->
        <!-- begin::Col px-6 py-8 rounded-2 me-7-->
        <div (click)="totals('New')" role="button" class="col bg-info rounded-2 me-4 p-3">
            <app-keenicon name="technology-2" class="fs-3x text-white d-block my-2"></app-keenicon>
            <h5 class="text-white fs-2x fw-bolder">3</h5>
            <span class="text-white fw-normal fs-6 mt-2"> New </span>
        </div>
        <!-- end::Col -->
        <!-- begin::Col  (click)="open('Modified')" role="button"-->
        <div style="cursor: not-allowed;" class="col bg-secondary rounded-2 p-3">
            <app-keenicon name="technology-2" class="fs-3x text-gray-900 d-block my-2"></app-keenicon>
            <h5 class="text-muted fs-2x fw-bolder">{{ website.articlesLastScrape }}</h5>
            <span class="text-muted fw-normal fs-6"> Modified </span>
        </div>
        <!-- end::Col -->
    </div>
    <!-- end::Row -->
</div>