<div class="row gap-3">
    <!--begin::Websites List-->
    <div class="card col-xl">
        <div class="card-header border-0 ">
            <!--begin::Card title-->
            <div class="card-title">
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 my-0">Websites</h1>

            </div>
            <!--begin::Card title-->
            <!--begin::Search-->
            <div *ngIf="!selected && !addWebsiteMode" class="d-flex align-items-center position-relative my-1">
                <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
                <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
                    placeholder="Search Websites">
            </div>
            <!--end::Search-->
            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-info text-light me-3 d-flex align-items-center"
                        [routerLink]="['/distribution']">
                        <!--data-action="create"-->
                        <app-keenicon name="address-book" class="fs-3 me-2"></app-keenicon>
                        Distribution
                    </button>
                    <!--begin::Add New-->
                    <button type="button" class="btn btn-info text-light d-flex align-items-center"
                        (click)="activeAdd()">
                        <ng-container *ngIf="addWebsiteMode; else elseTemplate">
                            <app-keenicon name="cross" class="fs-3 me-2"></app-keenicon>
                            Close
                        </ng-container>
                        <ng-template #elseTemplate>
                            <app-keenicon name="plus" class="fs-3 me-2"></app-keenicon>
                            New
                        </ng-template>
                    </button>
                    <!--end::Add New-->
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Card toolbar-->
        </div>

        <div class="card-body pt-0">
            <!-- <app-crud [datatableConfig]="datatableConfig" route="/apps/agents" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="formModal"></app-crud> -->
            <table class="table align-middle mb-0">
                <thead class="bg-light">
                    <tr class="">
                        <th class="text-info text-info fw-bold">Logo</th>
                        <th class="text-info text-info fw-bold">Website</th>
                        <th class="text-info text-info fw-bold">Url</th>
                        <th class="text-info text-info fw-bold">Status</th>
                        <th class="text-info text-info fw-bold">Last update</th>
                        <th class="text-info text-info fw-bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="websites$ | async as websitesData; else loading">
                        <tr *ngFor="let website of websitesData"
                            [ngClass]="{'bg-light': selected == website._id,'rounded-5': selected == website._id}">
                            <td class="text-center">
                                <ng-container *ngIf="website.logo; else altlogo">
                                    <img [src]="website.logo" alt="" style="width: 45px; height: 45px"
                                        class="object-fit-cover rounded-circle" />
                                </ng-container>
                                <ng-template #altlogo>
                                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3"
                                        data-action="view">
                                        <div class="symbol-label fs-3 bg-light text-info">{{
                                            website.title[0].toUpperCase() }} </div>
                                    </div>
                                </ng-template>


                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{ website.title }}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{ website.url }}</p>
                            </td>
                            <td>
                                <span class="badge badge-success rounded-pill d-inline">{{ website.status }}</span>
                            </td>
                            <td>{{ convertDate(website.last_update) }}</td>
                            <td>
                                <!-- begin: show GenInfo -->
                                <a (click)="viewGeneralInfo(website._id)" class="me-3" role="button">
                                    <app-keenicon [name]="selected == website._id?'eye-slash':'eye'"
                                        class="fs-3 text-primary"></app-keenicon>
                                </a>
                                <!-- end: show GenInfo -->
                                <!-- begin: delete -->
                                <a [ngbTooltip]="tipConfirm" class="me-3" triggers="click:blur" role="button">
                                    <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
                                </a>
                                <ng-template #tipConfirm>Sure ?, To confirm click <b role="button"
                                        class="text-danger" (click)="removeWebsite(website._id)">Remove</b></ng-template>
                                <!-- end: delete -->
                                <!-- begin: Rescrape notif -->
                                <a *ngIf="website.is_changed" class="notification-icon "
                                    [ngbTooltip]="tipContent" role="button">
                                    <app-keenicon name="notification-on" class="fs-2 text-info"></app-keenicon>
                                </a>
                                <ng-template #tipContent>
                                    <div class="text-center">
                                        There is something new!
                                    </div>
                                </ng-template>
                                <!-- end: Rescrape notif -->
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #loading>
                        <tr>
                            <td colspan="6" class="text-center text-muted">
                                <p class="placeholder-wave">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <p class="placeholder-wave">
                                    <span class="placeholder col-12"></span>
                                </p>
                                <span class="spinner-border spinner-border-sm align-middle"></span> Loading...
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
    <!--end::Websites List-->
    <!--begin::Website General Info-->
    <div class="col-xl-4 card card-xl-stretch" *ngIf="website$ | async as website">
        <general-info [website]="website.website" [articles]="website.articles" (openDetails)="openDetails($event)">
        </general-info>
    </div>
    <div *ngIf="loadGenInfo" class="col-xl-4 card card-xl-stretch d-flex align-items-center justify-content-center">
        <span class="spinner-border spinner-border-sm align-middle"></span><br> Loading...
    </div>

    <!-- begin: Form -->
    <div *ngIf="addWebsiteMode" class="col-xl-4 card card-xl-stretch">
        <app-new (refresh)="refresh()"></app-new>
    </div>
    <!-- end: Form -->

    <!--end::Website General Info-->
    <!--begin::Details-->
    <div class="col-xl-12 card card-xl-stretch" *ngIf="articles$ | async as articles">
        <app-details name="Total" [articles]="articles" [website_id]="selected"></app-details>
    </div>
    <!--end::Details-->
</div>
